<div class="" *ngIf="!company">
    <app-loading></app-loading>
</div>
<div *ngIf="company">
    <span>
        <div *ngIf="company.logo">
            <img src={{company.logo}} class="img-fluid float-left" alt="Responsive image">
        </div>
        <h1 class="company-name company-title">{{company.name}}</h1>
    </span>
    <div class="row shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col-6">
            <h3>Exchange: {{company.exchange}}</h3>
            <h3>Website: <a href={{company.url}}>{{company.url}}</a></h3>
            <h3>Industry: {{company.industryName}}</h3>
            <h3>Location: {{company.countryName}}</h3>
            <h3>Ticker: {{company.companySymbol}}</h3>
        </div>
        <div class="col-6">
            <h3>Currency: {{company.currencyName}}</h3>
            <h3>Outstanding shares: {{company.outstandingShares}}</h3>
            <h3>Market Cap: {{company.marketCapitalization}}</h3>
            <h3>IPO: {{company.ipo}}</h3>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Historical stock"> <app-historical-stock></app-historical-stock> </mat-tab>
        <mat-tab label="Realtime stock"> <app-realtime-stock></app-realtime-stock></mat-tab>
      </mat-tab-group>
</div>