<div class="" *ngIf="!company">
    <app-loading></app-loading>
</div>
<div *ngIf="company" >
    <div class="d-flex align-content-center align-items-center my-2">
        <div *ngIf="company.logo">
            <img src={{company.logo}} class="img-fluid float-left company-logo" alt="{{company.name}}'s logo">
        </div>
        <div *ngIf="!company.logo">
            <i class="fas fa-chart-line"></i>
        </div>
        <div class="company-title">
            <div>        
                <h1 class="company-name my-0">{{company.name}}</h1>
            </div>
            <div>        
                <h3 class="my-0">{{company.exchange}}</h3>
            </div>
        </div>
    </div>
    <div class="row shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col-6">
            <h3><b>Website:</b> <a href={{company.url}}> {{company.url}}</a></h3>
            <h3><b>Industry:</b> {{company.industryName}}</h3>
            <h3><b>Location:</b> {{company.countryName}}</h3>
            <h3><b>Ticker:</b> {{company.companySymbol}}</h3>
        </div>
        <div class="col-6">
            <h3><b>Currency:</b> {{company.currencyName}}</h3>
            <h3><b>Outstanding shares:</b> {{company.outstandingShares}}</h3>
            <h3><b>Market Cap:</b> {{company.marketCapitalization}}</h3>
            <h3><b>IPO:</b> {{company.ipo}}</h3>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Historical stock"> <app-historical-stock [ticker]=company.companySymbol [companyName]=company.name></app-historical-stock> </mat-tab>
        <mat-tab label="Realtime stock"> <app-realtime-stock></app-realtime-stock></mat-tab>
      </mat-tab-group>
</div>