<div class="next-steps my-5">
  <div class="row">
    <div class="col-md-5 mb-4">
      <h1 class="display-1 title">StocInsights</h1>
      <h2>Easy to understand stocks for all</h2>
      <img class="rounded" src="../../../assets/Stocks.png">
    </div>

  </div>
    <div class="row">
      <div class="col-md-5 mb-4">
        <h2 class="mb-5">
         Historical stock
        </h2>
        <p>
          Keep up to date with the historical stock price changes of a company.
        </p>
      </div>
      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h2 class="mb-5">
           Realtime stock
        </h2>
        <p>
          Inspect trades in real time to help predict stock movement.
        </p>
      </div>
    </div>
</div>
